<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    input:checked + label {
      color: red;
    }
  </style>
</head>
<body>
  <input type="checkbox" style="display: none" id="on">
  <label for="on">123</label>
  <script type="text/javascript">
    console.log(document.querySelector('input'));
  </script>
</body>
</html>